<section ng-if="ctrl.Section.Attachments.length" class="pageImages">
    <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-transition="zoom" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered>
        <li ng-repeat="slide in ctrl.Section.Attachments track by slide.Id">
            <div ng-style="{'background-image': 'url(/attach/' + slide.Id + '___' + slide.FileName + ')'}" class="bgimage">

            </div>
        </li>
    </ul>
</section>

<section ng-if="ctrl.$Ready" class="doc-content">
    <md-content>
        <h2 md-headline>{{ctrl.Menu.Name}}</h2>
        <span md-subhead>{{ctrl.Section.Name}}</span>
    </md-content>
</section>


<section ng-if="ctrl.$Ready" class="md-whiteframe-z1 doc-content">
    <md-content>
        <md-toolbar formheader>
            <div class="md-toolbar-tools">
                <span> {{ctrl.Section.Name}}</span>
                <span flex></span>
                <md-button ui-sref="app.food.new({menuId: ctrl.Menu.Id, sectionId: ctrl.Section.Id})" aria-label="Ekle">
                    <md-icon md-svg-icon="content:add_circle"></md-icon>
                    <span> Yeni</span>
                </md-button>

            </div>
        </md-toolbar>
        <md-content ng-if="!ctrl.$List.length" layout-padding >
            <h2 md-headline>Bu bölümde henüz hiç bir tanım gözükmüyor.</h2>
            <p md-subhead>Hemen yukarıda <md-icon md-svg-icon="content:add_circle"></md-icon> butonuna tıklayarak işe başlayabilirsiniz.</p>
        </md-content>
        <md-list>
            <div ng-repeat="entity in ctrl.$List">
                <md-list-item class="md-3-line" ng-click="ctrl.editEntity(entity)">
                    <div ng-if="entity.Attachments.length" hide-sm class="itemThumnails">
                        <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-transition="zoom" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered>
                            <li ng-repeat="slide in entity.Attachments track by slide.Id">
                                <div ng-style="{'background-image': 'url(/attach/' + slide.Id + '___' + slide.FileName + '?width=132&height=99)'}" class="bgimage">

                                </div>
                            </li>
                        </ul>
                    </div>  

                   
                    <md-icon ng-if="!entity.Attachments.length" hide-sm average md-svg-icon="maps:restaurant_menu"></md-icon>
                    <div class="md-list-item-text">
                        <h3 ng-if="entity.FoodGroup"> {{entity.FoodGroup}} / {{ entity.Name }}</h3>
                        <h3 ng-if="!entity.FoodGroup"> {{ entity.Name }}</h3>
                        <h4>
                            {{ entity.Desc }}
                        </h4>
                        <p>{{entity.Price | currency: entity.Currency}}</p>

                    </div>
                    
                        <md-icon class="md-secondary" ng-click="ctrl.showEntityActions($event, entity)" md-svg-icon="action:view_headline"></md-icon>
                        
                    
                    


                </md-list-item>
                <div layout-padding layout="row" layout-margin>
                    <span class="tag" tag="{{tag.Name}}" ng-repeat="tag in entity.Tags">
                        {{tag.Name}}
                    </span>
                </div>
                <md-divider ng-if="$index != ctrl.$List.length-1"></md-divider>
            </div>

        </md-list>
    </md-content>
    <!--<md-button ui-sref="app.food.new({menuId: ctrl.Menu.Id, sectionId: ctrl.Section.Id})" class="md-accent md-fab md-fab-bottom-right">
        Yeni
    </md-button>-->
</section>


