<div class="doc-content">
    <md-card ng-if="ctrl.forgotPasswordSent" message>
        <md-card-content>
            <h2>Şifre Sıfırlama Talebiniz Başarıyla Gerçekleştirildi</h2>
            <p>
                Lütfen size gönderdiğimiz {{ctrl.forgotPasswordModel.email}} adresindeki epostada bulunan linke tıklayarak parola sıfırlama işlemine devam ediniz.
            </p>
            <p>
               Giriş ekranı için <a ui-sref="app.account.login">tıklayın</a>
            </p>
        </md-card-content>
    </md-card>
    <section ng-if="!ctrl.forgotPasswordSent" class="md-whiteframe-z1">
        <md-toolbar formheader>
            <div class="md-toolbar-tools">
                <span>Şifremi Unuttum</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <div ng-if="ctrl.errorMessages && ctrl.errorMessages.length > 0" ng-repeat="err in ctrl.errorMessages">
                <md-subheader class="md-warn md-text" md-no-sticky>{{err}}</md-subheader>
            </div>
            <form name="form" novalidate ng-submit="form.$valid  && ctrl.forgotPasswordSubmit()">
                <md-input-container>
                    <label>EMail Adresiniz</label>
                    <input ng-model="ctrl.forgotPasswordModel.email" type="email" name="email" required  />
                    <span ng-messages="form.email.$error" role="alert" ng-if="form.email.$touched || form.$submitted">
                        <span ng-messages-include="src/UI/ErrorMessages.html"></span>
                    </span>
                </md-input-container>
                <div layout layout-align="space-between center">
                    <md-button class="md-raised md-primary" type="submit">Şifremi Unuttum</md-button>
                    <md-button class="md-raised md-warn" type="button" ng-click="ctrl.historyBack();">Geri</md-button>
                </div>
            </form>

        </md-content>
    </section>
</div>