
<md-toolbar>
    <div class="md-toolbar-tools">
        <span>Şifremi Unuttum</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button></md-button>
    </div>
</md-toolbar>
<md-content layout-padding>
    <form name="form" novalidate ng-submit="form.$valid && ctrl.login()">
        <md-input-container>
            <label>İşletme Numarası</label>
            <input type="text" ng-model="ctrl.model.companyId" required />
        </md-input-container>
        <md-input-container>
            <label>E-posta Adresi</label>
            <input ng-model="ctrl.model.username" type="email" required />
        </md-input-container>
        <div layout layout-align="space-between center">
            <md-button class="md-raised md-primary" type="submit">Devam Et</md-button>
        </div>
    </form>
</md-content>
