<md-dialog flex="75">
    <form name="form" novalidate ng-submit="form.$valid && ctrl.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ctrl.$Id ? 'Düzenle': 'Ekle'}}</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="ctrl.CloseDialog()">
                    <md-icon md-svg-src="content:clear" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <section ng-if="ctrl.$Entity.Attachments.length" class="pageImages dialog">
            <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-transition="zoom" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered>
                <li ng-repeat="slide in ctrl.$Entity.Attachments track by slide.Id">
                    <div ng-style="{'background-image': 'url(/attach/' + slide.Id + '___' + slide.FileName + ')'}" class="bgimage">

                    </div>
                </li>
            </ul>
        </section>
        <md-dialog-content>
            <div layout="row">
                <md-input-container flex>
                    <label>Menu Title</label>
                    <input required ng-model="ctrl.$Entity.Title">
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
                <md-input-container flex>
                    <label>Kısa açıklaması</label>
                    <input ng-model="ctrl.$Entity.Desc" />
                </md-input-container>
            </div>

            <div layout="row" layout-sm="column">
                <md-autocomplete flex
                                 md-selected-item="ctrl.selectedLanguage"
                                 md-search-text="ctrl.languageSearch"
                                 md-items="item in ctrl.queryLanguage(ctrl.languageSearch)"
                                 md-item-text="item.Name + ' - ' + item.NativeName"
                                 md-min-length="0"
                                 placeholder="Content Language" ,
                                 md-input-name="menucurrency"
                                 md-autoselect="false"
                                 md-floating-label="Content Language">
                    <md-item-template>
                        <span md-highlight-text="ctrl.languageSearch" md-highlight-flags="^i">{{item.Name}} - {{item.NativeName}}</span>
                    </md-item-template>
                </md-autocomplete>



                <md-input-container flex>
                    <label>User Language Option</label>
                    <md-select name="languageOption" placeholder="Menü gösterimi" ng-model="ctrl.$Entity.DisplayOption" required>
                        <md-option ng-value="key" ng-repeat="(key, value) in ctrl.DisplayOptions()">{{value}}</md-option>
                    </md-select>
                </md-input-container>
                
            </div>
            <div layout="row" layout-sm="column">
                
                <md-input-container flex>
                    <label>Display As</label>
                    <md-select name="displayTypeOption" placeholder="Menü gösterim yeri" ng-model="ctrl.$Entity.DisplayType" required>
                        <md-option ng-value="key" ng-repeat="(key, value) in ctrl.DisplayTypes()">{{value}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Display Order</label>
                    <input type="number" step="1" name="DisplayOrder" ng-model="ctrl.$Entity.DisplayOrder" min="0" max="4999">
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column">
                <md-input-container flex class="ta-editor">
                    <label>Content</label>
                    <div class="ta-editor" ta-toolbar="[['h1','h2','h3'],['bold','italics', 'underline', 'strikeThrough'],['p', 'ul', 'ol'], ['insertLink'],['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'indent', 'outdent'],['undo', 'redo', 'clear', 'html']]" text-angular ng-model="ctrl.$Entity.Content"></div>
                </md-input-container>
            </div>

        </md-dialog-content>

        <div class="md-actions" layout="row">
            <md-button class="md-primary" type="submit">Save</md-button>
            <span flex></span>
            <md-button type="button" ng-click="ctrl.CloseDialog()">Cancel</md-button>
        </div>

    </form>


</md-dialog>