.hide { display: none !important; }
html {
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
}

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

table {
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;
}

/***************
 * TYPE DEFAULTS
 ***************/
a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}
a:hover, a:focus {
  border-bottom: 1px solid #4054B2;
}
a.md-button {
  border-bottom: none;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}
h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}
strong {
  font-weight: 500;
}
td, th {
  padding: 12px 16px;
  text-align: left;
}
td {
  vertical-align: top;
}
td.description *:first-child {
  margin-top: 0;
}
td.description *:last-child {
  margin-bottom: 0;
}
tr:nth-child(odd) td {
  background-color: #E3ECF5;
}
tr:nth-child(even) td {
  background-color: #D1DEEC;
}
th {
  background-color: #4C9EF0;
  color: white;
}
blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin-left: 0;
  padding-left: 16px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin-left: 16px;
  padding: 0;
  margin-top: 3px;
  list-style-position: inside;
}
ul li:first-child {
  margin-top: 0;
}
/************
 * UTILS
 ************/
ul.skip-links li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.skip-links li a {
  background-color: #fff;
  display: block;
  margin: 0.5em 0 0.5em 0.5em;
  opacity: 0;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 92%;
  -webkit-transition: opacity   0.15s linear;
  -moz-transition: opacity  0.15s linear;
  transition: opacity   0.15s linear;
}
ul.skip-links li a:focus {
  background-color: #fff !important;
  opacity: 1;
  z-index: 2;
}
/*******************
 * CODE HIGHLIGHTING
 *******************/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre > code.highlight {
  padding: 16px;
  font-weight: 400;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

pre, code {
  margin: 0;
  padding: 0;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  overflow-wrap: break-word;
}


pre > code.highlight {
  background-color: transparent;
  font-weight: 400;
  padding: 16px;
}

code {
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.065);
}

code.highlight {
  display: block;
  overflow-wrap: break-word;
}

code:not(.highlight) {
  color: #106CC8;
  margin-left: 1px;
  margin-right: 1px;
  -webkit-font-smoothing: auto;
  padding: 0.125em 0.35em;
  border-radius: 2px;
}
.layout-content code.highlight {
  margin-bottom: 15px;
}
/************
 * DOCS MENU
 ************/
.site-sidenav {
  background: #106CC8;
}
.site-sidenav md-content {
  background: transparent;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}
.site-sidenav > * {
  min-width: 218px;
}

.docs-menu,
.docs-menu ul {
  list-style: none;
  padding: 0;
}
.docs-menu li {
  margin: 0;
}
.docs-menu > li:nth-child(1) {
  border-top: none;
}
.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.docs-menu > li {
  border-bottom: 1px solid #267ED5;
}

.docs-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
  background: #267ED5 !important;
}
.docs-menu .md-button md-icon {
  color: white;
}

.docs-menu md-select {

 /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
    to not be scrollable.
  */
  margin: 0;
  width: 100%;
}

.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.docs-menu .md-button.active {
  background: #267ED5;
}
.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}
.docs-menu li.parentActive,
.docs-menu li.parentActive .menu-toggle-list {
  /*background-color: #2C80D2 !important;*/
}
.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: height;
}
.docs-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

ul#docs-menu-Directives {
  margin-bottom: 20px;
}
.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

/* End Docs Menu */

.docs-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 16px;
  margin: 0 auto;
}
.docs-logo:focus {
  outline: none;
}
.docs-logo > img {
  height: 150px;
  width: auto;
  display: block;
  transform-origin: 50% 0;
  transform: scale(1.2);
}
.nav-header {
  background-color: #106CC8;
  background: linear-gradient(#185694, #106cc8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
  background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: linear-gradient(top, #185694 0%, #106cc8 100%);
  border-bottom: 1px solid #267ED5;
  flex-shrink: 0;
  z-index: 2;
}
a.docs-logo {
  border-bottom: none;
}
.docs-logotype {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}
.docs-menu-separator-icon {
  margin: 0;
}
.docs-menu-separator-icon img {
  height: 16px;
}

.md-breadcrumb md-icon, .docs-tools md-icon {
  color: #666 !important;
}
.md-breadcrumb-page {
  display: inline-block;
  word-wrap: break-word;
}
.docs-toolbar-tools {
  max-width: 864px;
  padding: 0;
  margin: 0 24px;
  width: auto;
}
.docs-tools .md-button {
  padding: 0;
  margin: 0 0 0 8px;
}
.docs-tools .md-button,
.docs-tools .md-button md-icon {
  color: #666 !important;
}

.docs-toolbar-tools .md-button md-icon {
  color: #666 !important;
}

@media (max-width: 400px) {
  .docs-tools {
    display: none;
  }
}

.layout-content,
.doc-content {
  max-width: 864px;
  box-sizing: border-box;
}

.doc-content > section {
  margin: 8px;
}



.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #666 !important;
  z-index: 3;
}