@{
    Layout = null;
}

@model Maiter.Shared.ViewModels.Account.MailTemplateModels.ForgotPasswordViewModel
<div>
    Şifrenizi Sıfırlamak için <a href="@Model.ConfirmationLink">Tıklayınız.</a>
</div>