@{
    Layout = null;
}
@model Maiter.Shared.ViewModels.Account.MailTemplateModels.ForgotPaasswordViewModel
<div>
    Merhaba @Model.Name @Model.Surname,
    <br />
    Şifre sıfırlama işleminiz başarıyla tamamlanmıştır yeni şifreniz : <br />
    <b>@ViewBag.newPass</b><br />
    <a href="@Model.ConfirmationLink">Buraya</a> tıklayarak giriş ekranına ulaşabilirsiniz.
</div>