<section ng-if="ctrl.$Ready" class="doc-content">
    <md-content>
        <h2 md-headline>{{ctrl.Country.Name}}</h2>
        <span md-subhead>{{ctrl.Country.NativeName}}</span>
    </md-content>
</section>

<section ng-if="ctrl.$Ready" class="md-whiteframe-z1 doc-content">
    <md-content>
        <md-toolbar formheader>
            <div class="md-toolbar-tools">
                <span> Eyaletler</span>
                <span flex></span>
                <md-button ui-sref="app.country.state.new" aria-label="Ekle">
                    <md-icon md-svg-icon="content:add_circle"></md-icon>
                    <span> Yeni</span>
                </md-button>

            </div>
        </md-toolbar>
        <md-content ng-if="!ctrl.$List.length" layout-padding>

            <h2 md-headline>Bu bölümde henüz hiç bir tanım gözükmüyor.</h2>
            <p md-subhead>Hemen yukarıda <md-icon md-svg-icon="content:add_circle"></md-icon> butonuna tıklayarak işe başlayabilirsiniz.</p>
        </md-content>
        <md-list>

            <div ng-repeat="entity in ctrl.$List">
                <md-list-item class="md-2-line" ng-click="ctrl.editEntity($event, entity)">
                   <div class="md-list-item-text">
                        <h3>{{ entity.Name }}</h3>
                    </div>
                    <md-icon class="md-secondary" ng-click="ctrl.showEntityActions($event, entity)" md-svg-icon="action:view_headline"></md-icon>
                </md-list-item>
                <md-divider ng-if="$index != ctrl.$Entity.CountryState.length-1"></md-divider>
            </div> 

        </md-list>
    </md-content>
</section>
