<section ng-if="ctrl.$Ready && ctrl.$Entity.Attachments.length" class="pageImages">
    <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-transition="zoom" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered>
        <li ng-repeat="slide in ctrl.$Entity.Attachments track by slide.Id">
            <div ng-style="{'background-image': 'url(/attach/' + slide.Id + '___' + slide.FileName + ')'}" class="bgimage">

            </div>
        </li>
    </ul>
</section>

<section ng-if="ctrl.$Ready" class="doc-content">
    <md-content ng-if="ctrl.$Entity.Name !==''">
        <h2 md-headline>{{ctrl.$Entity.Name}}</h2>
        <span md-subhead>{{ctrl.$Entity.Desc}}</span>
    </md-content>
</section>

<section ng-if="ctrl.$Ready" class="md-whiteframe-z1 doc-content" id="menuList">
    <md-content>
        <md-toolbar formheader>
            <div class="md-toolbar-tools">
                <span>Menü Kısımları</span>
                <span flex></span>
                <md-button ui-sref="app.menu.sections.new" aria-label="Ekle">
                    <md-icon md-svg-icon="content:add_circle"></md-icon>
                    <span> Ekle</span>
                </md-button>
            </div>
        </md-toolbar>
        <md-content ng-if="!ctrl.$Entity.Sections.length" layout-padding>
            <h2 md-headline>Bu bölümde henüz hiç bir tanım gözükmüyor.</h2>
            <p md-subhead>Hemen yukarıda <md-icon md-svg-icon="content:add_circle"></md-icon> butonuna tıklayarak işe başlayabilirsiniz.</p>
        </md-content>
        <md-list>
            <div ng-repeat="entity in ctrl.$Entity.Sections">
                <md-list-item class="md-2-line" ng-click="ctrl.foodSection($event, entity)">
                    <div ng-if="entity.Attachments.length" hide-sm class="itemThumnails">
                        <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-transition="zoom" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered>
                            <li ng-repeat="slide in entity.Attachments track by slide.Id">
                                <div ng-style="{'background-image': 'url(/attach/' + slide.Id + '___' + slide.FileName + '?width=132&height=99)'}" class="bgimage">

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="md-list-item-text">
                        <h3>{{ entity.Name }}</h3>
                        <h4>{{ entity.Desc }}</h4>
                    </div>
                    <md-icon class="md-secondary" ng-click="ctrl.showEntityActions($event, entity)" md-svg-icon="action:view_headline"></md-icon>
                </md-list-item>
                <md-divider ng-if="$index != ctrl.$Entity.Sections.length-1"></md-divider>
            </div>

        </md-list>

    </md-content>

</section>

<section class="md-whiteframe-z1 doc-content" id="restaurants">
    <md-content>
        <md-toolbar formheader>
            <div class="md-toolbar-tools">
                <span translate>İlişkili Restaurantlar</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout-padding class="hint mention-bg" layout="row">

            <md-icon big md-svg-icon="action:face"></md-icon>

            <span flex>
                <em ng-if="!ctrl.$Entity.CompanyIds.length">Mevcut durumda bu menü <strong>hiçbir</strong> restaurant ile ilişkilendirilmemiştir.</em>
                Lütfen unutmayın; <strong>{{ctrl.$Entity.Name}}</strong> isimli menü sadece aşağıda ilişkilendirdiğiniz restaurantlarda görünecektir.
            </span>
        </div>
        <md-list>
            <div ng-repeat="entity in ctrl.companyList">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>{{ entity.Name }}</h3>
                        <h4>{{ entity.Desc }}</h4>
                    </div>

                    <md-switch ng-change="ctrl.assocCompany(entity)" class="md-secondary" ng-model="entity.enabled"></md-switch>

                </md-list-item>
                <md-divider ng-if="$index != ctrl.companyList.length-1"></md-divider>
            </div>
        </md-list>
    </md-content>

</section>


<div ui-view></div>