<ion-view view- title="{{ctrl.$state.current.data.title  || 'MobiResta'}}">
    <ion-content padding="false">
        <div class="page-slider-container" ng-if="ctrl.HeaderImages.length > 0">
            <ion-slide-box show-pager="{{ ctrl.HeaderImages.length > 1 }}" auto-play="true"  class="page-slider" delegate-handle="image-viewer">
                <ion-slide ng-repeat="slide in ctrl.HeaderImages track by slide.Id">
                    <div ng-style="{'background-image': 'url(' + slide.Url + '?height=284)'}" class="slider-image row row-bottom slider-title-container">
                        <div class="col">
                            <h3 class="">{{slide.Title}}</h3>
                            <h4 class="">{{slide.Desc}}</h4>
                        </div>

                    </div>
                </ion-slide>
            </ion-slide-box>



        </div>

        <div class="card1">
           <div class="item item-divider">{{ctrl.Menu.Name}}</div>
            <div class="list slider-list wrap-list">
                <a class="item " ng-class="{'item-thumbnail-left': item.Images.length }" ng-click="ctrl.aboutNavigate($event)" ui-sref="app.customer.menucontent({ sectionId: '{{item.Id}}', menuId: '{{ ctrl.Menu.Id }}'})"
                   ng-repeat="item in ctrl.Menu.Sections">
                    <div class="slider-container" ng-if="item.Images.length">
                        <ion-slide-box show-pager="false" class="list-slider" delegate-handle="image-viewer" auto-play="true" does-continue="true">
                            <ion-slide ng-repeat="slide in item.Images track by slide.Id">
                                <div ng-style="{'background-image': 'url(' + slide.Url + '?width=80)'}" class="list-slider-image">

                                </div>
                            </ion-slide>
                        </ion-slide-box>
                    </div>



                    <h2>{{ item.Name }}</h2>
                    <p>{{ item.Desc }}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>